<% content_for :dashboard, render('shared/dashboard') %>
<h1>Rental Dashboard</h1>
<button id="All_reservations" type="button" class="btn btn-default">View all reservations</button>
<button id="Add_book" type="button" class="btn btn-default">Add a book</button>
<h2>Pending request</h2>
