<div class="container">
    <h1 id="title">Rent a book</h1>
    <h3 id="slogan">Discover some awesome books near you and rent them for a while.</h3>
    <form action="/collection_items" class="search">
      <input type="text" name='city' class="searchTerm" placeholder="New york...">
      <input type="submit" class="searchButton">
    </form>
</div>



