<div class="container">
    <h1 id="title">Rent a book</h1>
    <h3 id="slogan">Discover some awesome books near you and rent them for a while.</h3>
    <form action="" class="search">
      <input type="text" class="searchTerm" placeholder="Enter your search term ...">
      <input type="submit" class="searchButton">
    </form>
</div>
