<% content_for :dashboard, render('shared/dashboard_navbar') %>

<div class="container">
  <h1>Dashboard</h1>

  <%= link_to dashboards_my_rentals_path do %>
    <button id="All_reservations" type="button" class="btn btn-primary">View all reservations</button>
  <% end %>
  <%= link_to new_collection_item_path do %>
    <button id="Add_book" type="button" class="btn btn-primary">Add a book</button>
  <% end %>
  <h3>Reservation requests on my books</h3>


  <% if @reservations.nil? %>
    <h6>You don't have any reservation request yet</h6>
  <% else %>
    <h6>Please accept or refuse pending requests</h6>
    <% @reservations.each do |reservation| %>
      <%= render 'pending_request', reservation: reservation %>
    <% end %>
  <% end %>
</div>
