<% content_for :dashboard, render('shared/dashboard_navbar') %>

<div class="container">
  <h1>Dashboard</h1>
  <button id="All_reservations" type="button" class="btn btn-default">View all reservations</button>
  <button id="Add_book" type="button" class="btn btn-default">Add a book</button>
  <h3>Reservation requests on my books</h3>


  <% if @reservations.nil? %>
    <h6>You don't have any reservation request yet</h6>
  <% else %>
    <h6>Please accept or refuse pending requests</h6>
    <% @reservations.each do |reservation| %>
      <%= render 'pending_request', reservation: reservation %>
    <% end %>
  <% end %>
</div>
