<% content_for :dashboard, render('shared/dashboard_navbar') %>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>My books</h1>
      <%= link_to new_collection_item_path do %>
        <div class="btn btn-primary">Add a book</div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <% @collection_items.each do |collection_item| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <%= render 'shared/collection_item_card', collection_item: collection_item %>
        <%= link_to edit_collection_item_path(collection_item) do %>
          <div class="btn btn-primary">Edit book</div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
